.landing__email
    form.form-inline(role="form")
        input(type="email" placeholder="Ingresa tu correo electrónico").landing__email-input
        button(type="submit")#send_email.landing__email-btn.btn.btn-default Enviar
.landing__email-invitation ¡Muy pronto estaremos disponibles!, compártenos tu correo y serás el primero en saberlo