doctype html
html
  include ./views/includes/head.jade
  body
    h1 My Site
    p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae minus nemo consequuntur similique, sint! Quam voluptates quia incidunt vero, velit repellat maiores animi aspernatur. Maxime ea consequuntur nostrum voluptatibus praesentium.
    include ./views/includes/footer.jade