$primary_color: #5AC6FF;
$secondary_color: #317dd3;
$dark_color: #37375A;
$purple_color: #7b0eba;
$gray_color: #95a5a6;

$orange_color: #ff7c4c;
$white: #fff;
$large_text: 4em;
$medium_text: 1.6em;
$small_text: 1.4em;
$xsmall_text: 1.2em;
