doctype html
html
  include ./views/includes/head.jade
  body
        header
            include ./views/components/header.jade
        include ./views/components/benefits.jade
        include ./views/components/suscribe.jade
        footer
            include ./views/includes/footer.jade