.header__container
        .header__bg
        .header__boxes
            .header__left
                .header__left-info
                    h1.header__headline Shake it
                    p.header__deck El hecho de permanecer varias horas estático, en la misma posición y realizando la misma actividad puede traerle graves problemas a tu cuerpo.
                    p.header__deck_info Una nueva herramienta para que hagas todos los días las pausas activas que tu cuerpo necesita.
                    .header__email
                        include ../helpers/email.jade
            .header__right
                .header__iphone
                    figure.header__iphone-figure
                        img(src="images/iphone.png", class="img-responsive",alt="iphone, shakeit, app").header__iphone_image
                        figcaption.header__iphone-caption
                            .header__iphone-frame
                                .header__iphone-frame-discoBall
                                    .header__iphone-frame-discoBall-hanger
                                    .header__iphone-frame-discoBall-light
                                    .header__iphone-frame-discoBall-ball#discoBall
                                        .header__iphone-frame-discoBall-ball--middle
                                .header__iphone-frame-afroman
                                    img(src="images/afrodancer.png", alt="")
                                h2.header__iphone-frame-headline Shake your body
