.footer__container
	h6.footer__brandname Shake it &copy; 2015
	.footer__social
		.footer__social-twitter
			i.fa.fa-twitter
		.footer__social-google
			i.fa.fa-google
		.footer__social-youtube
			i.fa.fa-youtube
		.footer__social-facebook
			i.fa.fa-facebook


script(src="components/jquery/dist/jquery.min.js")
script(src="scripts/all.js")
